{$SITE_ADDRESS} {
    encode zstd gzip
    request_body {
        max_size 10MB
    }
    reverse_proxy app:3000 {
        header_up X-Real-IP {remote_host}
        header_up -Cf-Connecting-Ip
        header_up -Oai-Authenticated-User-Id
        header_up -Oai-Authenticated-User-Email
    }
}
